<div class="content">
  <p>
    Je me présente ! Denis Colin, pseudo : Derwinia, passionné de jeux vidéos, de série ou encore de jeu de rôle!<br>
    J'ai découvert l'univers de la programmation à mes 19 ans, mais je ne m'étais jamais réellement intéressé à la création de jeux vidéo, jusqu'a récemment lors d'une récente formation, j'ai appris le C# et je me suis dis, pourquoi pas s'essayer à l'appliquer pour le jeu vidéo ?<br>
    Et c'est ainsi que j'ai acheté quelques cours en ligne sur la programmation sur Unity !<br>
    <img src="./assets/images/gamedev.jpg"><br>
    <a href="https://www.gamedev.tv/" target="_blank">Lien vers GameDev.tv</a>
    j'ai suivi les cours de base sur GameDev.tv, il propose un cours complet où l'on peut vraiment avancé pas à pas sur l'outils Unity mais pas que !
    Ce cours permet également de découvrir les bases du C# pour ceux qui n'ont jamais programmer avant !
    (cette partie là je l'ai un peu passer a vrai dire ^^')
    et donc après avoir fini tout ces cours, je me lui lancer sur ce premier projet ! Pour appliquer ce que j'ai pu apprendre et apprendre également de nouvelles choses afin de continuer à confirmer l'étendu de mes connaissances et également l'élargir ! <br>

    Si vous souhaitez me contacter, que ce soit pour signaler un bug, me poser une question, ou même encore m'encourager !
    Voici l'adresse mail où vous pouvez me contacter :D <br>
    <a href="mailto:deniscolin777@yahoo.fr">deniscolin777@yahoo.fr</a>
  </p>
</div>
