
<div id="unity-container">
  <canvas id="unity-canvas"></canvas>
  <div id="unity-loading-bar">
    <div id="unity-logo"></div>
    <div id="unity-progress-bar-empty">
      <div id="unity-progress-bar-full"></div>
    </div>
  </div>
  <div id="unity-warning"> </div>
  <div id="unity-footer">
    <div id="unity-webgl-logo"></div>
    <div id="unity-fullscreen-button"></div>
    <div id="unity-build-title">The savior is a robot !</div>
  </div>
</div>
<div>
  <app-world-state-api></app-world-state-api>
</div>
<p>
  <!-- Comment puis-je y jouer ?
  Grâce au lien ci-dessous, vous pouvez télécharger la dernière version disponible ! -->

  C'est quoi comme jeu ?
  The savior is a robot ! est un jeu qui vous met dans la "peau" d'un robot venant du 23ème siècle,
  qui remonte le temps à nos jours, et qui a pour but de nettoyer notre belle terre afin de sauver son futur et de la pollution qui la menace!
  Vous allez donc devoir apprendre ce qui provoque toutes ces pollutions, et trouvez un moyen d'y remédier sans pour autant
  provoquer vous même de nouvelles pollutions ou catastrophes !

  Le jeu se présente sous la forme d'un petit jeu de gestion très simplifié,
  le but étant de donné une première approche aux enfants que les pollution ne se limite pas au déchets et de les recycler ou pas,
  mais également que tout objet de nous possèdons, ont leur part de responçabilité, mais que nous pouvons faire des choix quand a notre façon de
  consommer et qu'il est également possible de faire des actions pour aider notre planète a mieux respirer !

  Je suis conscient que le thême abordé est une question très vaste et qu'il existe des centaines de facteurs différent qui
  interviennent, et donc qu'il est très difficile de pointer du doigt un problème et d'avoir une solution miracle !
  Mon jeu ici représente donc une vision très simpliste de la question de la pollution et donne des solution tout aussi simpliste !
  Je suis conscient que nous sommes très loin de la vérité, et ce n'est pas le but de mon jeu, que d'essaye de régler tout les problème du monde ou
  même de dénoncer notre société actuelle ! Cependant il est important à mes yeux de donner la possibilé, et ça dés leur plus jeunes âge, aux enfants
  de savoir ce qu'est une pollution, et comment est ce qu'ils pourraient, eux, agir a leur échelle afin d'essayer d'améliorer les choses !
</p>
