<div id="Nav">
  <div id="NavButton">
    <button pButton
      type="button"
      label="Secondary"
      class="p-button-secondary p-button-raised p-button-rounded"
      routerLink="home"
      label="Accueil">
    </button>
    <button pButton
      type="button"
      label="Secondary"
      class="p-button-secondary p-button-raised p-button-rounded"
      routerLink="game"
      label="Jeu">
    </button>
    <button pButton
      type="button"
      label="Secondary"
      class="p-button-secondary p-button-raised p-button-rounded"
      routerLink="api"
      label="API">
    </button>
    <button pButton
      type="button"
      label="Secondary"
      class="p-button-secondary p-button-raised p-button-rounded"
      routerLink="contact"
      label="Contact">
    </button>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
