#mainTitle{
  width: 100%;
  text-align: center;
  font-size: 5vw;
  color: aliceblue;
  -webkit-text-stroke: 1px black;
}

#Nav{
  background-image: url("/assets/images/woodMenuBG.jpg");
  height: 100px;
  width: 60%;
  padding: 25px;
  margin: 10px auto 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  border: solid rgb(85, 60, 27) 5px;
  button {
    margin: 0 10px;
    min-width: 150px;
  }
}

#gameName{
  font-family: "SpaceRanger";
  align-items: center;
}

@media screen and (max-width:1200px){
  #Nav{
    width: 90%;
    //padding: 25px;
    margin: 10px 5% 10px;
  }
}
