<p>
  Bienvenue sur la page de présentation de mon premier projet solo !<br>
  Dans le cadre du projet "Maker-hub" du centre de formation Technobel, en fin de formation Développeur .net,
  il nous a été demandé de créer un projet avec le choix de sujet libre.
  Les seuls consignes que nous avions reçu étaient :<br>
  - utiliser une API externe<br>
  - créer une API<br>
  - doit correspondre à un ODD
  (<a href="https://www.un.org/sustainabledevelopment/fr/objectifs-de-developpement-durable/" target="_blank">Objectif de Développement Durable</a>)<br>

</p>

