<div class="content">
  <h2>Bienvenue sur la page de présentation de mon premier projet solo !</h2>
  <p>
  Pour la fin de formation Développeur .net, dans le cadre du projet "Maker-hub" du centre de formation Technobel,
  il nous a été demandé de créer un projet avec sujet libre, afin de montrer nos compétences en programmation nouvellementaquises !<br>
  Les seuls consignes que nous avions reçu étaient :<br>
  </p>
  <ul>
    <li>Utiliser une API externe</li>
    <li>Créer une API</li>
    <li>doit correspondre à un ODD</li>
  </ul>
  <p>
  <a href="https://www.un.org/sustainabledevelopment/fr/objectifs-de-developpement-durable/" target="_blank">( Objectif de Développement Durable )</a><br>
  </p>
  <h3>C'est quoi comme jeu ?</h3>
  <p>
  The savior is a robot ! est un jeu qui vous met dans la "peau" d'un robot venant du 23ème siècle,
  qui remonte le temps à nos jours, et qui a pour but de nettoyer notre belle terre afin de sauver son futur et de la pollution qui la menace!<br>
  Vous allez donc devoir apprendre ce qui provoque toutes ces pollutions, et trouvez un moyen d'y remédier sans pour autant
  provoquer vous même de nouvelles pollutions ou catastrophes !<br>

  Le jeu se présente sous la forme d'un petit jeu de gestion très simplifié,
  le but étant de donné une première approche aux enfants que les pollution ne se limite pas au déchets et de les recycler ou pas! <br>
  Mais également que tout objet de nous possèdons, ont leur part de responçabilité, mais que nous pouvons faire des choix quand a notre façon de  consommer et qu'il est également possible de faire des actions pour aider notre planète a mieux respirer !<br>

  Je suis conscient que le thême abordé est une question très vaste et qu'il existe des centaines de facteurs différents qui
  interviennent, et donc qu'il est très difficile de pointer du doigt un problème et d'avoir une solution miracle !<br>
  Mon jeu ici représente donc une vision très simpliste de la question de la pollution et donne des solution tout aussi simpliste !<br>
  Je suis conscient que nous sommes très loin de la vérité, et ce n'est pas le but de mon jeu, que d'essaye de régler tout les problème du monde ou même de dénoncer notre société actuelle ! Cependant il est important à mes yeux de donner la possibilé, et ça dés leur plus jeunes âge, aux enfants de savoir ce qu'est une pollution, et comment est ce qu'ils pourraient, eux, agir a leur échelle afin d'essayer d'améliorer les choses !
</p>
</div>

